<div class="sidebar">
  <ul>
    <li><a routerLink="/content" routerLinkActive="active">Content</a></li>
    <li><a routerLink="/web-content" routerLinkActive="active">Web Content</a></li>
    <li><a routerLink="/documents" routerLinkActive="active">Documents</a></li>
    <li><a routerLink="/media" routerLinkActive="active">Media</a></li>
    <li><a routerLink="/blogs" routerLinkActive="active">Blogs</a></li>
    <li><a routerLink="/bookmarks" routerLinkActive="active">Bookmarks</a></li>
    <li><a routerLink="/message-boards" routerLinkActive="active">Message Boards</a></li>
    <li><a routerLink="/data-lists" routerLinkActive="active">Dynamic Data Lists</a></li>
    <li><a routerLink="/forms" routerLinkActive="active">Forms</a></li>
    <li><a routerLink="/tags" routerLinkActive="active">Tags</a></li>
  </ul>
</div>
